{% extends 'basic.html' %}

{% block title %} Application Status {% endblock %}
{% block status %} active {% endblock %}

{% block css %}
{% endblock %}
{% block body %}




<style type="text/css">
.form-style-5{
    max-width: 500px;
    padding: 10px 20px;
    background: #FF5733;
    margin: 10px auto;
    padding: 20px;
    background: #ff9999;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="password"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: #800000;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#800000;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="password"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #d2d9dd;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    background: #800000;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #800000;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #800000;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #800000;
}
</style>

<center>
<h3> Notification From {{application.bank}} :  {{application.message}}</h3>
</center>


{% if application.SBI_Status == 'Approved' or application.SBI_Status == 'Rejected' %}
<div class="form-style-5">
    <h5> Bank Name: State Bank of India</h5>
    <h5> Application Status:  {{application.SBI_Status}} </h5> 
     <h5> Capital Amount: ₹ {{application.SBI_Capital_Amount}} /-</h5>
    <h5> Interest Rate: {{application.SBI_Interest}} %</h5>
</div>
{% endif %}


{% if application.PNB_Status == 'Approved' or application.PNB_Status == 'Rejected' %}
<div class="form-style-5">
    <h5> Bank Name : Punjab National Bank</h5>
    <h5> Application Status:  {{application.PNB_Status}} </h5>
     <h5> Capital Amount: ₹ {{application.PNB_Capital_Amount}} /-</h5>
    <h5> Interest Rate: {{application.PNB_Interest}} %</h5>
</div>
{% endif %}

{% if application.Axis_Status == 'Approved' or application.Axis_Status == 'Rejected' %}
<div class="form-style-5">
    <h5> Bank Name: Axis Bank</h5>
    <h5> Application Status:  {{application.Axis_Status}} </h5>
     <h5> Capital Amount: ₹ {{application.Axis_Capital_Amount}} /-</h5>
    <h5> Interest Rate: {{application.Axis_Interest}} %</h5>
</div>
{% endif %}

{% if application.HDFC_Status == 'Approved' or application.HDFC_Status == 'Rejected' %}
<div class="form-style-5">
    <h5> Bank Name: HDFC Bank</h5>
    <h5> Application Status:  {{application.HDFC_Status}} </h5>
     <h5> Capital Amount: ₹ {{application.HDFC_Capital_Amount}} /-</h5>
    <h5> Interest Rate: {{application.HDFC_Interest}} %</h5>
</div>
{% endif %}

{% if application.PNB_Status != 'Approved' and application.PNB_Status != 'Rejected' and application.PNB_Status != 'Approved' and application.PNB_Status != 'Rejected' and application.Axis_Status != 'Approved' and application.Axis_Status != 'Rejected' and application.HDFC_Status != 'Approved' and application.HDFC_Status != 'Rejected' %}
<div>
    <br> <br>
    <center>
    <h3> Your Application Are Under Process !</h3>
</div>

{% endif %}
{% endblock %}
